
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

body{
  background-color: #230E3D;
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}
.navbar-title{
    align-content: center;
    width: 219px;
    height: 32px;

}
#gradient{
  background: linear-gradient( #9100F8 , #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent;
}
.nav-info{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 60px;
}
.nav-info a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-head{
    display: flex;
}
.btn-primary{
padding: 12px 16px 12px 16px;
display: flex;
gap: 4px;
align-items: center;
border-radius: 10000px;
background: linear-gradient( #9100F8, #FB09B4, #F7E93F);
}