
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

body{
  background-color: #230E3D;
}

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-top: 30px;
}
.navbar-title{
    align-content: center;
    width: 219px;
    height: 32px;

}
#gradient{
  background: linear-gradient( #9100F8 , #FB09B4, #F7E93F);
  background-clip: text;
  color: transparent;
}
.nav-info{
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 60px;
}
.nav-info a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-head{
    display: flex;
}
.btn-primary{
padding: 12px 16px 12px 16px;
display: flex;
gap: 4px;
align-items: center;
border-radius: 10000px;
background: linear-gradient( #9100F8, #FB09B4, #F7E93F);
}
/* banner section */

.banner-section{
    align-content: center;
    justify-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
}
/* .banner-section img{
     margin: 50px 60px 40px 110px; */


.container{
    display: flex;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
    width: 400px;
    height: 350px;
    margin-left: 80px;
}

.container img{
  width: 30%;

}
.tooltip-btn{
    position: absolute;
    text-align: center;
    padding: 3PX;
    right: -4%;
    top: 20%;

}






.banner-title{
    text-align: center;
    font-weight: 800;
    font-size: 4rem;
    
}
.banner-description{
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
}
.spotify-btn{
    width: 200px;
    height: 44px;
    border-radius: 10000px;
    background: linear-gradient(#9100F8 , #FB09B4,#F7E93F);
}
.Subscribe{
    width: 147px;
    height: 44px;
    color: #00FF88;
     border-radius: 10000px;
     border: 1px solid #00FF88;
     background-color: transparent;

}
.btn-head{
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.tooltip{
   position: absolute;
   top: 23%;
}
.tooltip-btn{
    width: 65px;
    height: 30px;
    border: 8px;
    border-radius: 1000px;
    background-color: #00FF88;
}
/* nav hidden */
.hidden-nav{
    display: flex;
    justify-content: space-between;
}
.hidden-nav{
    display: none;
}
/* about section */
.about-section{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.about-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
    margin-top: 50px;

}
.about-description{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
}
.about-description-2{
     font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 50px;
    
}
.review-section{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    gap: 60px;
}
.review-title{
    color: #00FF88;
    font-size: 47px;
    font-weight: 900;

}
.review-description{
     margin-top: 16px;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     text-transform: uppercase;
}
 /* Techwave style */
 .techwave-container{
    align-items: center;
    justify-items: center;
    margin-top: 120px;

 }
 .techwave-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    line-height: 58px;
      margin-bottom: 40px;
 }
 .techwave{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    margin-left: 220px;
    grid-template-columns: repeat(4, 250px);
     grid-template-rows: repeat(2, 180px);
     gap: 30px;
   

 }
 .headphone{
   grid-row: 1 / span 2;
   padding: 40px;
   justify-content: center;
   align-items: flex-start;
   gap: 16px;
   border-radius: 40px;
   background: rgba(53, 17, 101, 0.4);
   


 }
 .card-title{
    margin-top: 10px;
     font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
 }
 .card-description{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
 }
 .mobaile{
    grid-column: 2 / span 2 ;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
   justify-content: center;
   align-items: flex-start;
   gap: 16px;
   border-radius: 40px;


 }
 .card-title{
     font-size: 20px;
     font-weight: 700;
     text-align: left;
     text-transform: capitalize;
     margin-top: 10px;
 }


.global{
     grid-column: 2 / span 2 ;
     background: rgba(53, 17, 101, 0.4);
      padding: 40px;
     justify-content: center;
     align-items: flex-start;
     gap: 16px;
    border-radius: 40px;


}

 .interview{
    grid-column: 1 / span 2;
    background: rgba(53, 17, 101, 0.4);
     padding: 40px;
     justify-content: center;
    align-items: flex-start;
    gap: 16px;
   border-radius: 40px;
 }
 .resourse{
    background: rgba(53, 17, 101, 0.4);
     padding: 40px;
   justify-content: center;
   align-items: flex-start;
   gap: 16px;
   border-radius: 40px;
 }

 /* episode-section style */
 .episodes-section{
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 60px;
 }

 .episode-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
 }
 .episode-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
 }
 .episodes-1{
    width: 380px;
    height: 300px;
    background-color: #351165;
    border-radius: 20px;
    
 }
 .episodes-title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
 }
 .episodes-discription{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 3px;
 }
 .clock{
    display: flex;
    padding-left: 5px;
 }

 /* host-section style */
 .host-section{
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 70px;
 }
 .host-container{
    display: flex;
    background-color: #351165;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
    justify-content: flex-start;

 }
 .hoster-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
 }
 .host-title{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
 }
 .host-description{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;

 }

 /* footer section style */
 footer{
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
 }
 .fot-title{
    text-align: center;
    margin-bottom: 30px;
 }
 .footer-section{
   max-width: 1000px;
   height: 300px;
   margin-top: 20px;
   align-content: center;
   margin: 0 auto;
  


 }
 .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }
 .last-description{
    text-align: center;
    margin-top: 30px;
 }











/* responsive */

@media screen and (max-width:576px){
    .hidden-nav{
    display: flex;
    justify-content: space-between;
}
    .hidden-nav img{
        margin-right: 10px;
    }
    .navbar{
        display: none;
    }
    .banner-section img{
     width: 60%;

}
.review-section{
   flex-direction: row;
   flex-wrap: wrap;
}
 
 .techwave{
    max-width: 576px;
    margin: 0 auto;
    display: grid;
    /* margin-left: 220px; */
    grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(1, 1fr);
     gap: 30px;
   

 }
 .container img{
  width: 30%;

}

.episode-container{
    flex-direction: column;
}
 .episodes-1{
    width: 300px;
    height: 310px;
 }
 .host-container{
    flex-direction: column;

 }
 .host-title{
   text-align: center;
 }
 .footer-container{
    display: flex;
    flex-direction: row;
    
 }





}